TrafficStatisticsCard {
    border: 1px solid rgb(35, 35, 35);
    border-radius: 6px;
    background-color: rgb(50, 50, 50);
}

TrafficStatisticsCard:hover {
    background-color: rgb(62, 62, 62);
    border-color: rgb(37, 37, 37);
}


QLabel {
    color: white;
    font: 14px 'Segoe UI', 'Microsoft YaHei';
    font-weight: bold;
}
