SettingInterface,
#view {
    /* background-color: transparent; */
    background-color: rgba(39, 39, 39, 0.93);
}

QScrollArea {
    border: none;
    background-color: transparent;
}


BannerWidget > #galleryLabel {
    font: 42px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: white;
    padding-left: 28px;
}
